@use 'index/index';
@use 'sass:map';


*,
::after,
::before {
    @include index.resetGeneralSettings;
}

html {
    @include index.setHTML;
}

body {
    @include index.setBody;
}

.container {
    @include index.setContainer;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .component {
        flex: 1;
        height: auto;
        display: flex;
        align-items: center;

        .component__container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .component__card {
                width: 90%;
                min-height: 480px;
                display: flex;
                justify-content: space-between;
                background-color: map.get(index.$primary, "cardBg");
                font-family: index.$lexendDecaFont;
                border-radius: 10px;

                @media screen and (max-width: 1024px) {
                    width: 100%;
                    flex-direction: column-reverse;
                }

                .card__texts {
                    width: 45%;
                    padding: 70px;
                    display: flex;
                    flex-direction: column;

                    @media screen and (max-width: 1024px) {
                        width: 100%;
                        padding: 40px;
                    }

                    .card__title {
                        font-size: 2.4rem;
                        margin-bottom: 30px;

                        @media screen and (max-width: 425px) {
                            font-size: 2rem;
                            text-align: center;
                        }

                        .title__mark {
                            color: map.get(index.$primary, "accent");
                        }

                    }

                    .card__paragraph {
                        flex: 1;
                        font-family: index.$interFont;
                        color: map.get(index.$neutral, "mainParagraph");
                        line-height: 25px;

                        @media screen and (max-width: 425px) {
                            text-align: center;
                            margin-bottom: 40px;
                        }

                    }

                    .card__facts {
                        display: flex;
                        justify-content: space-between;

                        @media screen and (max-width: 425px) {
                            flex-direction: column;
                            align-items: center;
                            gap: 30px;
                        }

                        .fact__data {

                            .data__quantity {
                                font-size: 2rem;
                                text-transform: uppercase;
                            }

                            .data__info {
                                text-transform: uppercase;
                                color: map.get(index.$neutral, "mainParagraph");
                                font-size: 12px;
                            }

                        }

                    }

                }

                .card__figure {
                    width: 50%;
                    position: relative;

                    @media screen and (max-width: 1024px) {
                        width: 100%;
                    }

                    .card__img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;
                        border-radius: 0 10px 10px 0;

                        @media screen and (max-width: 425px) {
                            border-radius: 10px 10px 0 0;
                        }

                    }

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background-color: map.get(index.$primary, "accent");
                        opacity: 0.7;
                        border-radius: 0 10px 10px 0;
                        filter:
                        contrast(180%)
                        brightness(30%)
                        saturate(220%);

                        @media screen and (max-width: 425px) {
                            border-radius: 10px 10px 0 0;
                        }

                    }

                }

            }

        }

    }

    .credits {
        height: auto;
        font-family: index.$interFont;

        .credits__container {
            height: 120px;
            padding: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

}