$primary: (
    "mainBg": hsl(233, 47%, 7%),
    "cardBg": hsl(244, 38%, 16%),
    "accent": hsl(277, 64%, 61%)
);

$neutral: (
    "mainHeadingStats": hsl(0, 0%, 100%),
    "mainParagraph": hsla(0, 0%, 100%, 0.75),
    "statHeadings": hsla(0, 0%, 100%, 0.6)
);