@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


$interFont: 'Inter', sans-serif;
$lexendDecaFont: 'Lexend Deca', sans-serif;

$interW400: 400;
$interW700: 700;
$lexendDecaW400: 400;

$mainSize: 15px;